{% extends 'base.html.twig' %}

{% block title %}Éditer Équipe{% endblock %}

{% block body %}
    <div class="mission-edit-wrapper">
        <h1 class="neon-title">Édition de l'Équipe</h1>

        <div class="mission-form-container">
            {{ include('team/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}
        </div>

        <div class="team-members-container">
            <h2>Membres Actuels de l'Équipe</h2>
            {% if members|length > 0 %}
                <ul>
                    {% for member in members %}
                        <li>{{ member.name }} ({{ member.alterEgo }})
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun membre n'est actuellement dans cette équipe.</p>
            {% endif %}
        </div>

        <div class="back-container">
            <a href="{{ path('app_team_index') }}" class="back-btn" style="position: relative; left: 30rem;">Retour à la liste des équipes</a>
        </div>

        <div class="delete-container">
            {{ include('team/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
