{% extends 'base.html.twig' %}

{% block title %}liste des Équipes{% endblock %}

{% block body %}
<div class="max-w-full relative top-10 p-6 bg-dark-gray border border-cyber-blue rounded-lg shadow-neon dark:bg-gray-800 dark:border-gray-700 m-10">
        <h1 class="neon-title">liste des Équipes</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-cyber-blue dark:text-gray-400">
            <thead class="text-xs text-neon-pink uppercase bg-dark-gray dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                Nom
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                Actif
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                Date de Création
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                    <tr class="bg-dark-gray border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">{{ team.name }}</td>
                        <td class="px-6 py-4">{{ team.isActive ? 'Oui' : 'Non' }}</td>
                        <td class="px-6 py-4">{{ team.createdAt ? team.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                        <td class="px-6 py-4 text-right">
                            <a href="{{ path('app_team_show', {'id': team.id}) }}" class="action-btn show-btn bg-cyber-blue">Voir</a>
                            <a href="{{ path('app_team_edit', {'id': team.id}) }}" class="action-btn edit-btn">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="no-records">Aucune équipe trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="create-new-container">
            <a href="{{ path('app_home') }}" class="action-btn back-btn bg-cyber-blue">Retour à l'accueil</a>
            <a href="{{ path('app_power_index') }}" class="action-btn show-btn bg-cyber-blue">Liste de pouvoir</a>
            <a href="{{ path('app_super_hero_index') }}" class="action-btn show-btn bg-cyber-blue">Liste des super héro</a>
            <a href="{{ path('app_team_new') }}" class="create-new-btn">Créer une nouvelle équipe</a>
        </div>
    </div>
{% endblock %}
