{% extends 'base.html.twig' %}

{% block title %}Détails de l'Équipe{% endblock %}

{% block body %}
    <div class="max-w-full relative top-10 p-6 bg-dark-gray border border-cyber-blue rounded-lg shadow-neon dark:bg-gray-800 dark:border-gray-700 m-10">
        <h1 class="neon-title">Détails de l'Équipe</h1>

        <div class="mission-table-container">
            <table class="mission-table">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ team.name }}</td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>{{ team.active ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>Date de Création</th>
                        <td>{{ team.createdAt ? team.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Membres</th>
                        <td>
                            {% if team.members|length > 0 %}
                                <ul>
                                    {% for member in team.members %}
                                        <li>
                                            {{ member.name }}
                                            {% if team.leader is same as(member) %}
                                                <span class="role-label">(Leader)</span>
                                            {% else %}
                                                <span class="role-label">(Membre)</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                Aucun membre dans cette équipe
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
                <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <h2 class="text-lg font-medium mb-4 text-neon-pink">Missions Associées</h2>
                        <table class="min-w-full">
                            <thead class="bg-dark-gray border-b">
                                <tr>
                                    <th scope="col" class="text-sm font-medium text-neon-pink px-6 py-4 text-left">#</th>
                                    <th scope="col" class="text-sm font-medium text-neon-pink px-6 py-4 text-left">Titre de la Mission</th>
                                    <th scope="col" class="text-sm font-medium text-neon-pink px-6 py-4 text-left">Statut</th>
                                    <th scope="col" class="text-sm font-medium text-neon-pink px-6 py-4 text-left">Niveau de danger</th>
                                    <th scope="col" class="text-sm font-medium text-neon-pink px-6 py-4 text-left">Dates</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if team.currentMission|length > 0 %}
                                    {% for mission in team.currentMission %}
                                        <tr class="bg-dark-gray border-b">
                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-cyber-blue">{{ loop.index }}</td>
                                                <td class="text-sm text-cyber-blue font-light px-6 py-4 whitespace-nowrap">
                                                    {{ mission.title }}
                                                </td>
                                                <td class="text-sm text-cyber-blue font-light px-6 py-4 whitespace-nowrap">
                                                    {{ mission.status.value }}
                                                </td>
                                                <td class="text-sm text-cyber-blue font-light px-6 py-4 whitespace-nowrap">
                                                    {{ mission.dangerLevel }}
                                                </td>
                                                <td class="text-sm text-cyber-blue font-light px-6 py-4 whitespace-nowrap">
                                                    Début: {{ mission.startAt|date('Y-m-d H:i') }}
                                                    {% if mission.endAt %}
                                                        <br>Fin: {{ mission.endAt|date('Y-m-d H:i') }}
                                                    {% else %}
                                                        <br>Fin: Non déterminer
                                                    {% endif %}
                                                </td>
                                                <td class="text-sm text-cyber-blue font-light px-6 py-4 whitespace-nowrap">
                                                    <a href="{{ path('app_mission_show', {'id': mission.id}) }}" class="action-btn show-btn bg-cyber-blue">Voir</a>
                                                </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="px-6 py-4 whitespace-nowrap text-sm font-medium bg-cyber-blue text-neon-pink text-center">
                                            <em>Aucune mission assignée</em>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions-container">
            <a href="{{ path('app_team_index') }}" class="action-btn back-btn bg-cyber-blue">Retour à la liste des équipes</a>
            <a href="{{ path('app_team_edit', {'id': team.id}) }}" class="action-btn edit-btn">Modifier</a>
        </div>

        <div class="delete-container">
            {{ include('team/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
