{% extends 'base.html.twig' %}

{% block title %}liste des Super-Héros{% endblock %}

{% block body %}
    <div class="mission-index-wrapper">
        <h1 class="neon-title">liste des Super-Héros</h1>

        <div class="mission-table-container">
            <table class="mission-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Alter Ego</th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Disponible', 's.available') }}
                            {{ pagination.isSorted('isAvailable') ? (pagination.direction == 'asc' ? '▲' : '▼') : '' }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Niveau d\'Énergie', 's.energyLevel') }}
                            {{ pagination.isSorted('s.energyLevel') ? (pagination.direction == 'asc' ? '▲' : '▼') : '' }}
                        </th>
                        <th>Biographie</th>
                        <th>Image</th>
                        <th>Date de Création</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for super_hero in pagination %}
                    <tr>
                        <td>{{ super_hero.name }}</td>
                        <td>{{ super_hero.alterEgo }}</td>
                        <td>{{ super_hero.isAvailable ? 'Oui' : 'Non' }}</td>
                        <td>{{ super_hero.energyLevel }}</td>
                        <td>{{ super_hero.biography }}</td>
                        <td>{{ super_hero.imageName }}</td>
                        <td>{{ super_hero.createdAt ? super_hero.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                        <td class="actions">
                            <a href="{{ path('app_super_hero_show', {'id': super_hero.id}) }}" class="action-btn show-btn">Voir</a>
                            <a href="{{ path('app_super_hero_edit', {'id': super_hero.id}) }}" class="action-btn edit-btn">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9" class="no-records">Aucun super-héros trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="create-new-container">
            <a href="{{ path('app_home') }}" class="action-btn back-btn">Retour à l'accueil</a>
            <a href="{{ path('app_power_index') }}" class="action-btn show-btn">Liste de pouvoir</a>
            <a href="{{ path('app_team_index') }}" class="action-btn show-btn">Liste des équipes</a>
            <a href="{{ path('app_super_hero_new') }}" class="create-new-btn">Créer un nouveau super-héros</a>
        </div>
    </div>
{% endblock %}
