{% extends 'base.html.twig' %}

{% block title %}Détails du Super-Héros{% endblock %}

{% block body %}
    <div class="mission-detail-wrapper">
        <h1 class="neon-title">Détails du Super-Héros</h1>

        <div class="mission-table-container">
            <table class="mission-table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ super_hero.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ super_hero.name }}</td>
                    </tr>
                    <tr>
                        <th>Alter Ego</th>
                        <td>{{ super_hero.alterEgo }}</td>
                    </tr>
                    <tr>
                        <th>Disponible</th>
                        <td>{{ super_hero.isAvailable ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>Niveau d'Énergie</th>
                        <td>{{ super_hero.energyLevel }}</td>
                    </tr>
                    <tr>
                        <th>Biographie</th>
                        <td>{{ super_hero.biography }}</td>
                    </tr>
                    <tr>
                        <th>Nom de l'Image</th>
                        <td>{{ super_hero.imageName }}</td>
                    </tr>
                    <tr>
                        <th>Date de Création</th>
                        <td>{{ super_hero.createdAt ? super_hero.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="actions-container">
            <a href="{{ path('app_super_hero_index') }}" class="action-btn back-btn">Retour à la liste des super-héros</a>
            <a href="{{ path('app_super_hero_edit', {'id': super_hero.id}) }}" class="action-btn edit-btn">Modifier</a>
        </div>

        <div class="delete-container">
            {{ include('super_hero/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
