{% extends 'base.html.twig' %}

{% block title %}Éditer Pouvoir{% endblock %}

{% block body %}
<div class="max-w-full relative top-10 p-6 bg-dark-gray border border-cyber-blue rounded-lg shadow-neon dark:bg-gray-800 dark:border-gray-700 m-10">
    <h1 class="neon-title">Édition du Pouvoir</h1>

    <div class="mission-form-container mt-6">
        {{ form_start(form) }}
        
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                {{ form_label(form.name, 'Nom du Héro', {'label_attr': {'class': 'text-sm font-medium text-cyber-blue dark:text-white'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'bg-dark-gray border border-gray-300 text-cyber-blue text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
                {{ form_errors(form.name) }}
            </div>
            <div>
                {{ form_label(form.level, 'Niveau du Pouvoir (1 à 5)', {'label_attr': {'class': 'text-sm font-medium text-cyber-blue dark:text-white'}}) }}
                {{ form_widget(form.level, {'attr': {'class': 'bg-dark-gray border border-gray-300 text-cyber-blue text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
                {{ form_errors(form.level) }}
            </div>
        </div>
        
        <div class="relative z-0 w-full mb-6 group">
            {{ form_label(form.description, 'Description du Pouvoir', {'label_attr': {'class': 'text-sm font-medium text-cyber-blue dark:text-white'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'bg-dark-gray border border-gray-300 text-cyber-blue text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="flex justify-center mt-6">
            <button type="submit" class="text-white bg-cyber-blue hover:bg-cyber-blue-dark focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
                Mettre à Jour le Pouvoir
            </button>
        </div>

        {{ form_end(form) }}

        <div class="flex justify-between mt-10">
            <div class="back-container">
                <a href="{{ path('app_super_hero_index') }}" class="back-btn text-cyber-blue hover:text-blue-500">
                    Retour à la liste des super-héros
                </a>
            </div>
            
            <div class="delete-container">
                {{ include('power/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
