{% extends 'base.html.twig' %}

{% block title %}Détails du Pouvoir{% endblock %}

{% block body %}
    <div class="max-w-full relative top-10 p-6 bg-dark-gray border border-cyber-blue rounded-lg shadow-neon dark:bg-gray-800 dark:border-gray-700 m-10">
        <h1 class="neon-title">Détails du Pouvoir</h1>

        <div class="mission-table-container">
            <table class="mission-table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ power.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ power.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ power.description }}</td>
                    </tr>
                    <tr>
                        <th>Niveau</th>
                        <td>{{ power.level }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="actions-container">
            <a href="{{ path('app_power_index') }}" class="action-btn back-btn bg-cyber-blue">Retour à la liste des pouvoirs</a>
            <a href="{{ path('app_power_edit', {'id': power.id}) }}" class="action-btn edit-btn">Modifier</a>
        </div>

        <div class="delete-container">
            {{ include('power/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
