{% extends 'base.html.twig' %}

{% block title %}Liste des missions{% endblock %}

{% block body %}

<div class="max-w-full relative top-10 p-6 bg-dark-gray border border-cyber-blue rounded-lg shadow-neon dark:bg-gray-800 dark:border-gray-700 m-10">
        <h1 class="neon-title">liste des missions</h1>
    <form class="max-w-sm mx-auto" action="{{ path('app_mission_index') }}">
        <label for="underline_select" class="sr-only">Choisir le type de missions :</label>
        <select id="underline_select" name="status" onchange="this.form.submit()" class="block py-2.5 px-0 w-full text-sm text-neon-pink bg-transparent border-0 border-b-2 border-neon-pink appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                <option value="actuel" {% if statusSelected == 'actuel' %}selected{% endif %}>Missions Actuelles</option>
                <option value="historique" {% if statusSelected == 'historique' %}selected{% endif %}>Historique des Missions</option>
        </select>
    </form>
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-cyber-blue dark:text-gray-400">
            <thead class="text-xs text-neon-pink uppercase bg-dark-gray dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Titre
                    </th>
                    {# <th scope="col" class="px-6 py-3">
                        <div class="flex items-center">
                            Description
                        </div>
                    </th> #}
                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center">
                            Status
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center">
                            Date de début
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center">
                            Date de fin
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center">
                            Localisation
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center">
                            Équipe
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center">
                            Pouvoirs requis
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center">
                            Niveau de danger
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for mission in pagination %}
                    <tr class="bg-dark-gray border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-cyber-blue whitespace-nowrap dark:text-white">
                            {{ mission.title }}
                        </th>
                        {# <td class="px-6 py-4">
                            {{ mission.description }}
                        </td> #}
                        <td class="px-6 py-4 status {{ mission.status.value|lower }}">
                            {{ mission.status.value }}
                        </td>
                        <td class="px-6 py-4">
                            {{ mission.startAt ? mission.startAt|date('d-m-Y H:i:s') : '' }}
                        </td>
                        <td class="px-6 py-4">
                            {{ mission.endAt ? mission.endAt|date('Y-m-d H:i') : '' }}
                        </td>
                        <td class="px-6 py-4">
                            {{ mission.location }}
                        </td>
                        <td class="px-6 py-4">
                            {% if mission.assignedTeam %}
                                <strong>{{ mission.assignedTeam.name }}</strong>
                            {% else %}
                                Aucune équipe assignée
                            {% endif %}                        
                        </td>
                        <td class="px-6 py-4">
                            {% for power in mission.powerRequire %}
                                {{ power.name }}{% if not loop.last %}, {% endif %}
                            {% else %}
                                Aucun pouvoir requis
                            {% endfor %}
                        </td>
                        <td class="px-6 py-4">
                            {{ mission.dangerLevel }}
                        </td>
                        <td class="px-6 py-4 text-right">
                                <a href="{{ path('app_mission_show', {'id': mission.id}) }}" class="action-btn show-btn bg-cyber-blue">Voir</a>
                                <a href="{{ path('app_mission_edit', {'id': mission.id}) }}" class="action-btn edit-btn">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td colspan="9" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">
                            Aucune mission trouvée
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="create-new-container">
        <a href="{{ path('app_home') }}" class="action-btn back-btn bg-cyber-blue">Retour à l'accueil</a>
        <a href="{{ path('app_mission_new') }}" class="create-new-btn">Créer une nouvelle mission</a>
    </div>
</div>
    <script>
        function resetFilter() {
            document.getElementById('status').value = '';
            document.forms[0].submit();
        }
    </script> 

{% endblock %}
